h1 {
    color: red;
    font-family: cursive;
    font-size: 100px;
    background-color: white;
    text-align: center;
    width: 100%
}

.container {
    width: 85%;
    padding: 1%;
    background-color: white;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
}

.form-control {
    margin-right: 10%;
}

img {
    max-height: 100px;
    max-width: 100px;
}

/* MAKE SURE you're working in a branch! "git branch" in terminal to check if you're in the master or the branch */

/* git pull origin master at each session that you begin!  */

html {
    height: 100%;
}

body {
    margin: 0;
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

.content {
    background-color: rgba(255, 255, 255, .8);
    border-radius: .25em;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    font-family: monospace;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}